<div id="homeDiv" ng-controller="homelistCtrl as $ctrl" style="padding: 10px; width: 100%; height: 100%; display: table;">
	<div style="display: table-row; height: 100%; width: 100%;">
		<div id="ownCtrl">
			buttons here!
		</div>
		<div ng-repeat="ticker in tickerData.data" style="display: flex; flex-direction: row; width: 100%;">
			<div class="separator"></div>
			<div id="{{ticker.ticker}}-homeTicker" class="tickerRowContainer" style="flex: 0 0 300px;">
				<div class="tickerRow">
					<div style="width: 100%; height: 33px;">
						<h3 class="infoLeft" style="margin: 0px;">{{ticker.ticker}}</h3>
						<h6 class="infoRight" style="margin-top: 6px;">{{ticker.data.fields.quoteType}}</h6>
					</div>
					<h6 style="margin: 1px 0px;">{{ticker.data.fields.name}}</h6>
					<h3 style="margin: 0px;" ticker-color="ticker.data.change">{{ticker.data.lastPrice}}</h3>
					<h4 style="margin: 0px;" ticker-color="ticker.data.change">{{ticker.data.change}} ({{ticker.data.changePercent}})</h4>
				</div>
			</div>
			<div class="tickerRowContainer" style="flex: 0 0 600px;">
				<div class="tickerRow">
					<!-- TODO: move wrappers into a single directive -->
					<!-- <div id="{{ticker.ticker}}-homeChartWrapper" style="position: relative; height: 171px; width: 590px; border: 1px solid white" comment="original"> -->
					<!-- <div style="position: relative; height: 20px; width: 100%; border: 1px solid blue; float: left;" comment="top panel"></div> -->
					<!-- <div id="{{ticker.ticker}}-homeChartWrapper" style="position: relative; height: 141px; width: 590px; border: 1px solid white; float: left;" comment="top panel"> -->

					<!-- <div ng-show="!(ticker | isEmpty)" style="position: relative; height: 171px; width: 555px; border: 1px solid white; float: left;" comment="right panel">
						<chart ticker-id="ticker.ticker" ticker-data="ticker.data.history" chart-suffix="-homeChart"></chart>
					</div>
					<div style="width: 35px; height: 100%; float: left; padding: 0px 5px;">
						<div>
							<button class="btn dropdown-toggle btn-secondary small-btn" type="button" data-toggle="dropdown">{{selectedPeriod}}</button>
							<div class="dropdown-menu" style="min-width: 35px;">
								<div class="dropdown-item" ng-repeat="(periodKey, periodVal) in periodMap" ng-click="updatePeriod(periodKey)" style="width: 35px; padding-left: 1px;">{{periodVal}}</div>
							</div>
						</div>

						<div style="margin-top: 25px;">
							<button class="btn dropdown-toggle btn-secondary small-btn" type="button" data-toggle="dropdown">1d</button>
							<div class="dropdown-menu" style="min-width: 35px;">
								<div class="dropdown-item">1m</div>
							</div>
						</div>
					</div> -->
					<!-- <chart ticker-id="ticker.ticker" ticker-data="ticker.data.history" chart-suffix="-homeChart" control-position="right"></chart> -->
					<chart ticker="ticker" chart-suffix="-homeChart" control-position="right"></chart>
				</div>
			</div>
			<div id="{{ticker.ticker}}-homeInfoTable" class="tickerRowContainer" style="flex: 0 0 600px;">
				<div class="tickerRow">
					<table class="infoTable compactTable">
						<tbody>
							<tr>
								<td>
									<div class="infoLeft">{{ticker.data.fields.field0[0]}}</div>
									<div class="infoRight">{{ticker.data.fields.field0[1]}}</div>
								</td>
								<td>
									<div class="infoLeft">{{ticker.data.fields.field8[0]}}</div>
									<div class="infoRight">{{ticker.data.fields.field8[1]}}</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="infoLeft">{{ticker.data.fields.field1[0]}}</div>
									<div class="infoRight">{{ticker.data.fields.field1[1]}}</div>
								</td>
								<td>
									<div class="infoLeft">{{ticker.data.fields.field9[0]}}</div>
									<div class="infoRight">{{ticker.data.fields.field9[1]}}</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="infoLeft">{{ticker.data.fields.field2[0]}}</div>
									<div class="infoRight">{{ticker.data.fields.field2[1]}}</div>
								</td>
								<td>
									<div class="infoLeft">{{ticker.data.fields.field10[0]}}</div>
									<div class="infoRight">{{ticker.data.fields.field10[1]}}</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="infoLeft">{{ticker.data.fields.field3[0]}}</div>
									<div class="infoRight">{{ticker.data.fields.field3[1]}}</div>
								</td>
								<td>
									<div class="infoLeft">{{ticker.data.fields.field11[0]}}</div>
									<div class="infoRight">{{ticker.data.fields.field11[1]}}</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="infoLeft">{{ticker.data.fields.field4[0]}}</div>
									<div class="infoRight">{{ticker.data.fields.field4[1]}}</div>
								</td>
								<td>
									<div class="infoLeft">{{ticker.data.fields.field12[0]}}</div>
									<div class="infoRight">{{ticker.data.fields.field12[1]}}</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="infoLeft">{{ticker.data.fields.field5[0]}}</div>
									<div class="infoRight">{{ticker.data.fields.field5[1]}}</div>
								</td>
								<td>
									<div class="infoLeft">{{ticker.data.fields.field13[0]}}</div>
									<div class="infoRight">{{ticker.data.fields.field13[1]}}</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="infoLeft">{{ticker.data.fields.field6[0]}}</div>
									<div class="infoRight">{{ticker.data.fields.field6[1]}}</div>
								</td>
								<td>
									<div class="infoLeft">{{ticker.data.fields.field14[0]}}</div>
									<div class="infoRight">{{ticker.data.fields.field14[1]}}</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="infoLeft">{{ticker.data.fields.field7[0]}}</div>
									<div class="infoRight">{{ticker.data.fields.field7[1]}}</div>
								</td>
								<td>
									<div class="infoLeft">{{ticker.data.fields.field15[0]}}</div>
									<div class="infoRight">{{ticker.data.fields.field15[1]}}</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="tickerRowContainer" style="flex: 1 0 300px;">
				<div class="tickerRow">
					<div style="width: 100%; height: 27px;">
						<div class="infoLeft">Notes:</div>
						<div class="infoRight icon icon-star" ng-show="!ticker.star" ng-model="ticker.star" ng-click="updateStar(ticker)"></div>
						<div class="infoRight icon icon-star-fill" ng-show="ticker.star" ng-model="ticker.star" ng-click="updateStar(ticker)"></div>
						<div class="infoRight icon icon-bag" ng-show="!ticker.own" ng-model="ticker.own" ng-click="updateOwn(ticker)"></div>
						<div class="infoRight icon icon-bag-fill" ng-show="ticker.own" ng-model="ticker.own" ng-click="updateOwn(ticker)"></div>
					</div>
					<textarea class="homeNotes" ng-model="ticker.notes" ng-model-options="{debounce: 500}" ng-change="updateNotes(ticker.ticker, ticker.notes)">{{ticker.notes}}</textarea>
					<div style="width: 100%;">
						<a class="infoLeft" href="#research" ng-click="gotoResearch(ticker)">Research</a>
						<a class="infoLeft icon icon-search" href="#research" style="margin-top: 5px;" ng-click="gotoResearch(ticker)"></a>
						<a target="_blank" href="https://finance.yahoo.com/quote/{{ticker.ticker}}?p={{ticker.ticker}}" class="infoRight icon icon-box-arrow-up-right" style="margin-top: 5px;"></a>
						<a target="_blank" href="https://finance.yahoo.com/quote/{{ticker.ticker}}?p={{ticker.ticker}}" class="infoRight">Yahoo!</a>
					</div>
				</div>
			</div>
		</div>
		<div class="separator"></div>
	</div>
</div>