<nav id="navContainer" ng-controller="NavCtrl" class="navbar navbar-expand-sm bg-dark navbar-dark">
	<a id="navBrand" class="navbar-brand" href="#home">Stock Tracker</a>
	<div class="order-1 order-md-0 w-100">
		<ul id="mainNavbar" class="navbar-nav mr-auto" style="padding: 3px; margin-right: 50px;">
			<li id="homeNavbar" class="nav-item active">
				<a class="nav-link" href="#home" style="">Home</a>
			</li>

			<li id="researchNavbar" class="nav-item">
				<a class="nav-link" href="#research" style="">Research</a>
			</li>

			<li id="exploreNavbar" class="nav-item">
				<a class="nav-link" href="#explore" style="">Explore</a>
			</li>
		</ul>
	</div>

	<div class="order-3">
		<ul class="navbar-nav ml-auto">
			<li id="logoutNav" class="nav-item my-2 my-lg-0">
				<a class="nav-link" href="#logout">Logout</a>
			</li>
		</ul>
	</div>
</nav>
