.recc-container {
	float: left;
	position: relative;
	margin: 5px;
	border: 1px black;
	border-style: solid;
	padding: 2px;
}

.recc-container:not(:last-child) {
	margin-bottom: 15px;
}

.content-wrapper a {
	color: black;
}

.content-wrapper span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
	clear: left;
	width: 168px;
}

.content-wrapper span.title {
	font-size: 1.4rem;
	font-weight: bold;
}

.content-wrapper span.stat.attribution {
	font-size: 1.3rem;
	font-weight: 400;
	margin-top: -2px;
}

.video-time {
	float: left;
	position: absolute;
	bottom: 0;
	right: 2px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 2px;
	margin: 4px;
	padding: 2px 4px;
}